body{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    font-size: 13px;
    background: #212526;
    margin: 0;
}

.sabre{
    margin-bottom: 1em;
}

.sabre::before{
    content: '';
    position: absolute;
    background: radial-gradient(
        circle,
        #460000 0%,
        #080808 100%
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transform: 0.5s;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.topo, .meio, .fim{
    background: linear-gradient(90deg,
        #1f1f1f 0%,
        #1c1c1c 50%,
        #4a4a4a 60%,
        #1c1c1c 70%,
        #1f1f1f 100%,
    );

    margin: 0 auto;
    border: #333 1px solid;
}

.fim{
    width: 2em;
    height: 3em;
    background: linear-gradient(90deg,
        #1f1f1f 0%,
        #505050 30%,
        #8c8c8c 50%,
        #505050 70%,
        #1f1f1f 100%
    ); 
}

.meio{
    width: 1.5em;
    height: 3em;
    background: linear-gradient(90deg,
    #1f1f1f 0%,
    #505050 30%,
    #8c8c8c 50%,
    #505050 70%,
    #1f1f1f 100%
); 
}

.topo{
    height: 3em;
    width: 2em;
    position: relative;
    background: linear-gradient(90deg,
    #1f1f1f 0%,
    #505050 30%,
    #8c8c8c 50%,
    #505050 70%,
    #1f1f1f 100%
); 
}

.topo::before, .topo::after{
    content: '';
    position: absolute;
    top: 10%;
    width: 3em;
    height: 1.2em;
    background: linear-gradient(0deg,
        #1f1f1f 0%,
        #505050 30%,
        #8c8c8c 50%,
        #505050 70%,
        #1f1f1f 100%
    ); 
    z-index: -1;
}

.topo::before{
    left: -2.5em;
    transform: skew(-25deg);
}

.topo::after{
    right: -2.5em;
    transform: skew(25deg);
}

.luz{
    width: 1.1em;
    height: 0;
    background: #fff;
    margin: 0 auto;
    border-radius: 3em 3em 0 0;
    position: relative;
    transition: 0.5s;
}

.luz::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5em;
    width: 0;
    height: 0.5em;
    border-radius: 3em;
    background: inherit;
    z-index: -1;
    transition: 0.5s;
}

.sabre:hover .luz{
    height: 32em;
    box-shadow: 0 -10px 30px 10px red;
    border: 2px solid red;
    animation: flicker 0.3s infinite linear;
}

.sabre:hover .luz:before{
    width: 13em;
    box-shadow: 0 0 20px 5px red;
    border: 2px solid red;
    animation: flicker 0.2s infinite linear;
}

.sabre:hover:before{
    opacity: 1;
}

@keyframes flicker{
    90%{
        box-shadow: 0 0 20px 5px red;
    }
    100%{
        box-shadow: 0 0 15px 8px red;
    }
}